---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
---

<ProjectLayout title="Project A" description="This is a description of Project A.">
  <img src="/images/project-a-screenshot.png" alt="Project A Screenshot" class="mb-6 rounded-lg shadow-lg" />
  <p>This project is a web app that does something amazing. You can add more details here.</p>
</ProjectLayout>